<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Gestor de Presupuestos</title>
</head>
<body>
    <header>
        <h1>Gestor de Presupuestos</h1>
    </header>
    <main>
        <h2>Mis Cuentas</h2>
        <div class="container-cuentas">
            <a href="{{ url_for('vincular_banco') }}">Nuevo Banco</a>
            <ul>
                {% for cuenta in cuentas %}
                    <li>{{ cuenta[2] }}
                {% endfor %}
            </ul>
        </div>

        <h2>Todas mis Categorias</h2>
        <ul>
            {% for categoria in categorias %}
                <li>{{ categoria[2] }} - {{ categoria[1] }} |
                        <a href="{{ url_for('crear_presupuesto', categoria_id=categoria[0]) }}">Asignar Presupuesto</a> |
                        <a href="{{ url_for('agregar_transaccion', categoria_id=categoria[0]) }}">Agregar Transacción</a> |
                        <a href="{{ url_for('ver_presupuesto', categoria_id=categoria[0]) }}">Ver Presupuesto</a> |
                </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>