
body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    background-color: lightgoldenrodyellow;
    color: black;
    margin: 0;
    padding: 0;
}

section {
    margin: 20px auto;
    max-width: 800px;
    padding: 10px;
}

canvas {
    width: 100%;
    height: 400px;

}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: aliceblue;
}

.hidden {
    display: none;
}

/* Buttons */

button {
    padding: 10px 20px;
    background-color: darkgreen;
    color: lightgreen;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: green;
}

/* Barra de navegacion entre graficos */


.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    margin-bottom: 10px;
}

.navbar ul li a {
    color: lightgreen;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    background-color: darkgreen;
    border-radius: 5px;
}

.navbar ul li a:hover {
    background-color: green;
}

