<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Gestor de Presupuestos</title>
</head>
<body>
    <header class="navbar">
        <button id="menu-btn" class="menu-btn">&#9776;</button>
        <div class="logo">Gestor de Presupuestos</div>
        <nav class="nav">
            <ul>
                <li>
                    <a href="{{ url_for('ver_articulos') }}">
                        <button class="btn btn-boletines">Boletines</button>
                    </a>
                </li>
                <li>
                    <div class="user-dropdown">
                        <img src="\static/img/user.jpg" alt="Perfil" class="user-avatar">
                        <span>Usuario: {{ session['user'] }}</span>
                    </div>
                </li>
                <li><a href="{{ url_for('perfil') }}">Perfil</a></li>
                <li><a href="{{ url_for('logout') }}">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>

    <aside id="sidebar" class="sidebar">
        <button id="close-btn" class="close-btn">&times;</button>
        <ul>
            <li><a href="{{ url_for('ver_articulos') }}">Ver Artículos</a></li>
            <li><a href="{{ url_for('perfil') }}">Perfil</a></li>
            <li><a href="{{ url_for('logout') }}">Cerrar Sesión</a></li>
        </ul>
    </aside>

    <main>
        <h2>Categorías de {{ banco[2] }}</h2>
        <div class="container-gestion">
            <h3>Lista de Categorías</h3>
            <ul class="lista-categorias">
                {% for categoria in categorias %}
                    <li>
                        <strong>{{ categoria[2] }}</strong>
                        <div class="btn-group horizontal-buttons">
                            <a href="{{ url_for('crear_presupuesto', categoria_id=categoria[0]) }}">
                                <button class="btn btn-categorias">Asignar Presupuesto</button>
                            </a>
                            <a href="{{ url_for('agregar_transaccion', categoria_id=categoria[0]) }}">
                                <button class="btn btn-categorias">Agregar Transacción</button>
                            </a>
                            <a href="{{ url_for('ver_presupuesto', categoria_id=categoria[0]) }}">
                                <button class="btn btn-categorias">Ver Presupuesto</button>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="button-group compact-buttons">
                <a href="{{ url_for('index') }}" class="btn btn-banco">Regresar</a>
            </div>
        </div>
    </main>

    <script>
        document.getElementById('menu-btn').addEventListener('click', function() {
            document.getElementById('sidebar').style.width = '250px';
        });

        document.getElementById('close-btn').addEventListener('click', function() {
            document.getElementById('sidebar').style.width = '0';
        });
    </script>
</body>
</html>
