/* Contenedor principal */
.container-gestion {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Estilo de los títulos */
h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
}

/* Estilo de los botones */
.btn-banco-container {
    text-align: left;
    margin-bottom: 20px;
}

.btn-banco {
    background-color: #f59e0b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn-banco:hover {
    background-color: #d97706;
}

.filter-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.filter-form label {
    margin-right: 10px;
    font-size: 14px;
    color: #333;
}

.filter-form select, 
.filter-form input[type="date"] {
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.filter-form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-form button:hover {
    background-color: #0056b3;
}

/* Estilo de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, 
table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    color: #333;
}

table th {
    background-color: #f8f9fa;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.pagination {
    text-align: left;
    font-size: 14px;
    color: #555;
}

.pagination a {
    color: #007bff;
    text-decoration: none;
}

.pagination a:hover {
    text-decoration: underline;
}
